/*------------------------------------*\
    $COLORS
\*------------------------------------*/

/*
 * Primary color
 *
 */
$color--primary               : #b30030;
$color--primary--hover        : darken($color__primary, 20);
$color--primary--active       : darken($color__primary, 10);


/*
 * Secondary color
 *
 */
$color--secondary             : rgb(132, 0, 135);
$color--secondary--hover      : darken($color__secondary, 20);
$color--secondary--active     : darken($color__secondary, 10);


/*
 * Greys
 *
 */
$color--grey--10			  : #292929;
$color--grey--15              : #2f2f2f;
$color--grey--20			  : #333333;
$color--grey--35              : #5c5c5c;
$color--grey--50              : #9B9B9B;
$color--grey--85              : #d6d6d6;
$color--grey--90              : #ebebeb;
$color--grey--95              : #f1f1f1; 